

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [1]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [158]:
my_string1 = 'Bienvenido a'
my_string2 = "Metodos numericos"
print(my_string1 + ' ' + my_string2)

Bienvenido a Metodos numericos

An integer is a round number with no values after the decimal point.

In [3]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [4]:
my_int = 11567399
print(my_int)
print(type(my_int))

11567399
<class 'int'>

The built-in function int() can convert a string into an integer.

In [5]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [159]:
my_string = "200"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [7]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [160]:
my_string = "200"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [9]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [10]:
my_bool = True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [11]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [161]:
print("Addition ", 600 + 700)
print("Subtraction ", 800 - 68)
print("Multiplication ", 29 * 387 )
print("Division ", 1002/445)
print('exponent', 24 ** 3)

Addition  1300
Subtraction  732
Multiplication  11223
Division  2.251685393258427
exponent 13824

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [13]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [163]:
print(3/4)
print(3.0/4.0)

0.75
0.75

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [15]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [165]:
my_list_es = ['Caso', 'Carro', 1,2,3]
print(my_list_es)

['Caso', 'Carro', 1, 2, 3]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n âˆ’ 1. By the way, the length of a list can be obtained by the built-in function len().

In [17]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [164]:
my_list_es = ['Caso', 'Carro', 1,2,3]
print(len(my_list_es))
print(my_list_es[1])
print(my_list_es[len(my_list) -1])

5
Carro
Carro

You can also change the elements in the list by accessing an index and assigning a new value.

In [19]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [166]:
my_list_es = ['Caso', 'Carro', 1,2,3]
my_list_es[2] = 'Moto'
print(my_list_es)

['Caso', 'Carro', 'Moto', 2, 3]

A list can also be sliced with a colon:

In [21]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [167]:
my_list_es = ['Caso', 'Carro', 1,2,3]
print(my_list_es[2:4])

[1, 2]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [23]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [168]:
print(my_list_es[1:])

['Carro', 1, 2, 3]

And all elements up to but excluding index 3:

In [25]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [169]:
print(my_list_es[:3])

['Caso', 'Carro', 1]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [27]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [170]:
my_list_es = ['Hola', 'Juan']
my_list_es.append('Hola')
print(my_list_es)

['Hola', 'Juan', 'Hola']

In [29]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [171]:
my_list_es.remove('Hola')
print(my_list_es)

['Juan', 'Hola']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [31]:
my_tuple = ('Welcome','to','QuantConnect')

In [172]:
my_tuple_es = ('Bienvenido','a','la nacho')

Just like a list, a tuple can be sliced by using index.

In [33]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [173]:
print(my_tuple_es[1:])

('a', 'la nacho')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [35]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'F', 'IBM', 'FB', 'GOOG', 'AAPL'}

In [175]:
stock_list_es = ['MSFT','GOOG','IBM','TSL','IBM','FB','F','AAPL']
stock_set_es = set(stock_list_es)
print(stock_set_es)

{'GOOG', 'F', 'IBM', 'FB', 'TSL', 'AAPL', 'MSFT'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [176]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [177]:
my_dic_es = {'MSFT':'Microsoft', 'AAPL':'Apple', 'TSL':'Tesla'}

In [178]:
print(my_dic['GOOG'])

Alphabet

In [179]:
print(my_dic_es['TSL'])

Tesla

After defining a dictionary, we can access any value by indicating its key in brackets.

In [180]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [181]:
my_dic_es['TSL'] = 'Tesla Incorporated'
print(my_dic_es['TSL'])

Tesla Incorporated

We can also change the value associated with a specified key:

In [182]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [183]:
print(my_dic_es.keys())

dict_keys(['MSFT', 'AAPL', 'TSL'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [184]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [297]:
my_str_es = 'Bienvenido a unal'
print(my_str_es[8:])

do a unal

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [186]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [298]:
print(my_str_es.count('e'))
print(my_str_es.find('e'))
print(my_str_es.replace('a','e'))

2
2
Bienvenido e unel

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [188]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [299]:
Time_es = '2021-10-28 10:50:57'
splited_list_es = Time_es.split(' ')
date_es = splited_list_es[0]
time_es = splited_list_es[1]
print(date_es, time_es)
hour_es = time_es.split(':')[0]
print(hour_es)

2021-10-28 10:50:57
10

We can replace parts of a string by our variable. This is called string formatting.

In [190]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [191]:
my_time_es = 'Hour: {}, Minute:{}'.format('10','04')
print(my_time_es)

Hour: 10, Minute:04

Another way to format a string is to use the % symbol.

In [192]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [300]:
print('A number is %f'%8)
print('%s a %s'%('Bienvenido','a la unal'))

A number is 8.000000
Bienvenido a a la unal

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.


# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [194]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [301]:
print(44 == 5)
print(1 == 1)
print(56 != 56)
print(9 >= 5)
print(76 >= 54)

False
True
False
True
True

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [196]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [302]:
print(5 > 17 and 14 > 12)
print(74 > 318 and 83 < 0) 
print(11 > 44 or 1 < 45)
print(65 < 346 and 58 < 64)

False
False
True
True

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [198]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [304]:
print((124 > 2 or 2 < 124) and (2!=1 and 48>125) and not ( 17 < 25 or 25 < 123 and (25!=123 and 43>12)))
print(124 > 2 or 2 < 124 and (2!=1 and 48>125) and not ( 124 < 42 or 256 < 123 and (24!=12 and 43>12)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [200]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [305]:
i = 35
if (i > 0) and (i != -1):
    print('i is Integer')

i is Integer

As we mentioned above, we can write some complex statements here:

In [202]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [306]:
p = 27 > 89
q = 31 == 31
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

p is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [204]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [307]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [206]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [308]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [208]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [209]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [210]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [211]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

Using list comprehension:

In [212]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [213]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [214]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.


# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [215]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [309]:
print(product(5,35))
print(product(3,50))

175
150

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [217]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [310]:
def say_hi_in_spanish():
    print('Bienvenido a la unal')
say_hi_in_spanish()

Bienvenido a la unal

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [219]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [220]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [221]:
print(list)
del list
list

[1, 2, 3, 4, 5]

list

In [222]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [224]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

map() can be applied to more than one list. The lists have to have the same length.

In [225]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

**sorted()** takes a list or set and returns a new sorted list

In [226]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [227]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [228]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [229]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [230]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [231]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [232]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [233]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [234]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [235]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [236]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.


# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [237]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [238]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [239]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [240]:
print(Ar.shape)

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [241]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

If we want to access the matrix by column instead:

In [242]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [243]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

Other functions return a single value:

In [244]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [245]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [246]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

We can customize the indices of a new Series:

In [247]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

Or we can change the indices of an existing Series:

In [248]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

Series is like a list since it can be sliced by index:

In [249]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [250]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [251]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

We can get the statistical summaries of a Series:

In [252]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [253]:
time_index = pd.date_range('2018-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')
2018-01-01    143.73
2018-01-02    145.83
2018-01-03    143.68
2018-01-04    144.02
2018-01-05    143.50
2018-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [254]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [255]:
print(s.iloc[1])

145.83

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [256]:
s.index = time_index
print(s['2018-01-03'])

143.68

We can even access to a range of dates:

In [257]:
print(s['2018-01-02':'2018-01-05'])

2018-01-02    145.83
2018-01-03    143.68
2018-01-04    144.02
2018-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [258]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2018-01-01    143.73
2018-01-03    143.68
2018-01-05    143.50
2018-01-06    142.62
Name: Apple Price List, dtype: float64
[2018-01-01    False
2018-01-02    False
2018-01-03    False
2018-01-04     True
2018-01-05    False
2018-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.



# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [259]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.64)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)

In [260]:
pip install quandl

Requirement already satisfied: quandl in /usr/local/lib/python3.7/dist-packages (3.6.1)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.19.5)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.7/dist-packages (from quandl) (8.10.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from quandl) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: inflection>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from quandl) (0.5.1)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.1.5)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.7/dist-packages (from quandl) (2.23.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.14->quandl) (2018.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (3.0.4)

To use quandl appropiately you may need your own API key, for that kind of resource, you have to get Quandl account.



We will create a Series named "msft" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [313]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 170, 'currentPrice': 152.57, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 40, 'targetMeanPrice': 168.84, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.8, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.3, 'beta3Year': None, 'enterpriseToEbitda': 22.845, '52WeekChange': 0.2907561, 'morningStarRiskRating': None, 'forwardEps': 5.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 100881318, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58623004, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.37508416, 'priceToBook': 39.301907, 'heldPercentInsiders': 0.00071999995, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.25, 'sharesShortPreviousMonthDate': 1631664000, 'floatShares': 16513139929, 'beta': 1.222222, 'enterpriseValue': 2534310150144, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 7.264803, 'dateShortInterest': 1634256000, 'pegRatio': 1.34, 'ytdReturn': None, 'forwardPE': 26.860918, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 100926641, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 148.85, 'regularMarketOpen': 149.82, 'twoHundredDayAverage': 139.80864, 'trailingAnnualDividendYield': 0.005609674, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 153.165, 'navPrice': None, 'averageDailyVolume10Day': 63526662, 'regularMarketPreviousClose': 148.85, 'fiftyDayAverage': 145.88194, 'trailingAnnualDividendRate': 0.835, 'open': 149.82, 'toCurrency': None, 'averageVolume10days': 63526662, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 149.72, 'currency': 'USD', 'trailingPE': 29.868835, 'regularMarketVolume': 95823036, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2522012712960, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 74522680, 'dayLow': 149.72, 'ask': 152, 'askSize': 900, 'volume': 95823036, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 151.9, 'tradeable': False, 'dividendYield': 0.0058999998, 'bidSize': 1200, 'dayHigh': 153.165, 'regularMarketPrice': 152.57, 'preMarketPrice': 149.72, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655163  24.291439  23.514536  ...  270597600        0.0             0
2016-01-05  24.379043  24.402096  23.609058  ...  223164000        0.0             0
2016-01-06  23.182573  23.599842  23.023505  ...  273829600        0.0             0
2016-01-07  22.749164  23.083439  22.230461  ...  324377600        0.0             0
2016-01-08  22.719197  22.848296  22.306540  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827752  42.004949  41.784653  ...   65397600        0.0             0
2017-12-26  40.898682  41.059116  40.630492  ...  132742000        0.0             0
2017-12-27  40.731061  40.893888  40.637675  ...   85992800        0.0             0
2017-12-28  40.946572  41.150109  40.822055  ...   65920800        0.0             0
2017-12-29  40.831637  40.848397  40.520346  ...  103999600        0.0             0

[503 rows x 7 columns]

In [312]:
import yfinance as yf

msft = yf.Ticker("MSFT")

# get stock info
print(msft.info)

# get historical market data
msft_table = msft.history(start="2017-01-01",  end="2018-12-31")
msft_table

{'zip': '98052-6399', 'sector': 'Technology', 'fullTimeEmployees': 181000, 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. Its Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. It has collaborations with Dynatrace, Inc., Morgan Stanley, Micro Focus, WPP plc, ACI Worldwide, Inc., and iCIMS, Inc., as well as strategic relationships with Avaya Holdings Corp. and wejo Limited. Microsoft Corporation was founded in 1975 and is based in Redmond, Washington.', 'city': 'Redmond', 'phone': '425 882 8080', 'state': 'WA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.microsoft.com', 'maxAge': 1, 'address1': 'One Microsoft Way', 'industry': 'Softwareâ€”Infrastructure', 'ebitdaMargins': 0.48648998, 'profitMargins': 0.38515, 'grossMargins': 0.68864995, 'operatingCashflow': 81945001984, 'revenueGrowth': 0.22, 'operatingMargins': 0.42143002, 'ebitda': 85745000448, 'targetLowPrice': 281.78, 'recommendationKey': 'buy', 'grossProfits': 115856000000, 'freeCashflow': 49819750400, 'targetMedianPrice': 339, 'currentPrice': 324.35, 'earningsGrowth': 0.489, 'currentRatio': 2.165, 'returnOnAssets': 0.14589, 'numberOfAnalystOpinions': 36, 'targetMeanPrice': 339.26, 'debtToEquity': 51.938, 'returnOnEquity': 0.49303, 'targetHighPrice': 384, 'totalCash': 130584002560, 'totalDebt': 78934999040, 'totalRevenue': 176250994688, 'totalCashPerShare': 17.393, 'financialCurrency': 'USD', 'revenuePerShare': 23.395, 'quickRatio': 1.961, 'recommendationMean': 1.6, 'exchange': 'NMS', 'shortName': 'Microsoft Corporation', 'longName': 'Microsoft Corporation', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'MSFT', 'messageBoardId': 'finmb_21835', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 13.473, 'beta3Year': None, 'enterpriseToEbitda': 27.695, '52WeekChange': 0.57859516, 'morningStarRiskRating': None, 'forwardEps': 10.35, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 7507979776, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 20.242, 'sharesShort': 48556022, 'sharesPercentSharesOut': 0.0064999997, 'fundFamily': None, 'lastFiscalYearEnd': 1625011200, 'heldPercentInstitutions': 0.71769994, 'netIncomeToCommon': 67882999808, 'trailingEps': 8.939, 'lastDividendValue': 0.56, 'SandP52WeekChange': 0.37508416, 'priceToBook': 16.023615, 'heldPercentInsiders': 0.0008, 'nextFiscalYearEnd': 1688083200, 'yield': None, 'mostRecentQuarter': 1632960000, 'shortRatio': 1.86, 'sharesShortPreviousMonthDate': 1631664000, 'floatShares': 7500172144, 'beta': 0.802645, 'enterpriseValue': 2374705086464, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1045526400, 'lastSplitFactor': '2:1', 'legalType': None, 'lastDividendDate': 1629244800, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.476, 'priceToSalesTrailing12Months': 13.816734, 'dateShortInterest': 1634256000, 'pegRatio': 2.27, 'ytdReturn': None, 'forwardPE': 31.338163, 'lastCapGain': None, 'shortPercentOfFloat': 0.0064999997, 'sharesShortPriorMonth': 44204519, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 323.17, 'regularMarketOpen': 324.325, 'twoHundredDayAverage': 277.5318, 'trailingAnnualDividendYield': 0.0071169967, 'payoutRatio': 0.25059998, 'volume24Hr': None, 'regularMarketDayHigh': 324.87, 'navPrice': None, 'averageDailyVolume10Day': 23689250, 'regularMarketPreviousClose': 323.17, 'fiftyDayAverage': 298.56888, 'trailingAnnualDividendRate': 2.3, 'open': 324.325, 'toCurrency': None, 'averageVolume10days': 23689250, 'expireDate': None, 'algorithm': None, 'dividendRate': 2.48, 'exDividendDate': 1637107200, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 321.3601, 'currency': 'USD', 'trailingPE': 36.28482, 'regularMarketVolume': 25950660, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2435213164544, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 22649292, 'dayLow': 321.3601, 'ask': 324.33, 'askSize': 800, 'volume': 25950660, 'fiftyTwoWeekHigh': 326.1, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.48, 'fiftyTwoWeekLow': 199.62, 'bid': 324.55, 'tradeable': False, 'dividendYield': 0.0077, 'bidSize': 800, 'dayHigh': 324.87, 'regularMarketPrice': 324.35, 'preMarketPrice': 324.14, 'logo_url': 'https://logo.clearbit.com/microsoft.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2017-01-03  58.487583  58.534156  57.872807  ...   20694100        0.0             0
2017-01-04  58.198817  58.450317  57.863484  ...   21340000        0.0             0
2017-01-05  57.928688  58.366484  57.779651  ...   24876000        0.0             0
2017-01-06  58.031153  58.822913  57.788970  ...   19922900        0.0             0
2017-01-09  58.459631  58.757708  58.254708  ...   20382700        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2018-12-21  98.455387  99.782595  94.415647  ...  111242100        0.0             0
2018-12-24  94.628787  94.909729  91.044366  ...   43935200        0.0             0
2018-12-26  92.168114  97.544752  91.024973  ...   51634800        0.0             0
2018-12-27  96.198183  98.029145  93.388768  ...   49498500        0.0             0
2018-12-28  98.901014  99.211025  96.411293  ...   38196300        0.0             0

[501 rows x 7 columns]

We will create a Series named "msft" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [315]:
aapl = aapl_table['Close']['2017']
print(aapl)

Date
2017-01-03    27.372362
2017-01-04    27.341726
2017-01-05    27.480770
2017-01-06    27.787130
2017-01-09    28.041647
                ...
2017-12-22    41.906773
2017-12-26    40.843609
2017-12-27    40.850788
2017-12-28    40.965729
2017-12-29    40.522739
Name: Close, Length: 251, dtype: float64

In [262]:
msft = msft_table['Close']['2017']

In [263]:
print(msft)

Date
2017-01-03    58.291965
2017-01-04    58.031155
2017-01-05    58.031155
2017-01-06    58.534157
2017-01-09    58.347855
                ...
2017-12-22    81.429291
2017-12-26    81.324532
2017-12-27    81.619751
2017-12-28    81.629250
2017-12-29    81.457855
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [316]:
print(aapl['2017-3'])

Date
2017-03-01    33.086288
2017-03-02    32.889835
2017-03-03    33.083920
2017-03-06    32.979771
2017-03-07    33.022381
2017-03-08    32.899303
2017-03-09    32.823570
2017-03-10    32.932438
2017-03-13    32.946636
2017-03-14    32.896942
2017-03-15    33.244858
2017-03-16    33.299305
2017-03-17    33.133621
2017-03-20    33.481556
2017-03-21    33.098114
2017-03-22    33.472084
2017-03-23    33.353733
2017-03-24    33.287472
2017-03-27    33.344276
2017-03-28    34.035397
2017-03-29    34.111126
2017-03-30    34.066162
2017-03-31    34.002254
Name: Close, dtype: float64

In [264]:
print(msft['2017-3'])

Date
2017-03-01    60.856983
2017-03-02    59.985458
2017-03-03    60.210361
2017-03-06    60.229103
2017-03-07    60.350933
2017-03-08    60.903828
2017-03-09    60.660191
2017-03-10    60.847607
2017-03-13    60.641445
2017-03-14    60.360310
2017-03-15    60.678928
2017-03-16    60.575848
2017-03-17    60.791386
2017-03-20    60.847607
2017-03-21    60.172878
2017-03-22    60.941319
2017-03-23    60.791386
2017-03-24    60.894459
2017-03-27    61.006927
2017-03-28    61.184982
2017-03-29    61.353668
2017-03-30    61.578568
2017-03-31    61.719143
Name: Close, dtype: float64

In [317]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341728
2017-02-02    30.289883
2017-02-03    30.419495
2017-02-06    30.704649
2017-02-07    30.996870
                ...
2017-04-24    33.997528
2017-04-25    34.208176
2017-04-26    34.006989
2017-04-27    34.033024
2017-04-28    33.999897
Name: Close, Length: 61, dtype: float64

In [265]:
msft['2017-2':'2017-4']

Date
2017-02-01    59.223450
2017-02-02    58.841537
2017-02-03    59.316589
2017-02-06    59.279331
2017-02-07    59.083729
                ...
2017-04-24    63.284145
2017-04-25    63.649609
2017-04-26    63.565285
2017-04-27    63.977604
2017-04-28    64.155670
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [318]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372362
2017-01-04    27.341726
2017-01-05    27.480770
2017-01-06    27.787130
2017-01-09    28.041647
Name: Close, dtype: float64
Date
2017-12-15    41.657738
2017-12-18    42.244408
2017-12-19    41.794235
2017-12-20    41.748734
2017-12-21    41.906773
2017-12-22    41.906773
2017-12-26    40.843609
2017-12-27    40.850788
2017-12-28    40.965729
2017-12-29    40.522739
Name: Close, dtype: float64

In [266]:
print(msft.head(5))
print(msft.tail(10))

Date
2017-01-03    58.291965
2017-01-04    58.031155
2017-01-05    58.031155
2017-01-06    58.534157
2017-01-09    58.347855
Name: Close, dtype: float64
Date
2017-12-15    82.705330
2017-12-18    82.257759
2017-12-19    81.734032
2017-12-20    81.438805
2017-12-21    81.419777
2017-12-22    81.429291
2017-12-26    81.324532
2017-12-27    81.619751
2017-12-28    81.629250
2017-12-29    81.457855
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [319]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606276
2017-03-31    33.282219
2017-04-30    33.819261
2017-05-31    36.125683
2017-06-30    35.133982
2017-07-31    35.245241
2017-08-31    37.897229
2017-09-30    37.604738
2017-10-31    37.654552
2017-11-30    41.233915
2017-12-31    41.160040
Freq: M, Name: Close, dtype: float64

In [267]:
by_month = msft.resample('M').mean()
print(by_month)

Date
2017-01-31    58.862032
2017-02-28    59.912129
2017-03-31    60.764492
2017-04-30    62.011128
2017-05-31    64.769268
2017-06-30    66.463234
2017-07-31    67.869741
2017-08-31    68.837225
2017-09-30    70.442850
2017-10-31    73.849228
2017-11-30    79.531957
2017-12-31    80.713649
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [320]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495497
2017-01-15    28.097736
2017-01-22    28.266119
2017-01-29    28.553979
2017-02-05    29.662543
Freq: W-SUN, Name: Close, dtype: float64

In [268]:
by_week = msft.resample('W').mean()
print(by_week.head())

Date
2017-01-08    58.222108
2017-01-15    58.452181
2017-01-22    58.233749
2017-01-29    59.653786
2017-02-05    59.653788
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [321]:
aapl.resample('M').max()

Date
2017-01-31    28.739212
2017-02-28    32.451965
2017-03-31    34.111126
2017-04-30    34.264980
2017-05-31    37.099136
2017-06-30    36.944641
2017-07-31    36.471703
2017-08-31    39.129730
2017-09-30    39.141651
2017-10-31    40.332245
2017-11-30    42.050144
2017-12-31    42.244408
Freq: M, Name: Close, dtype: float64

In [269]:
msft.resample('M').max()

Date
2017-01-31    61.272697
2017-02-28    60.557098
2017-03-31    61.719143
2017-04-30    64.155670
2017-05-31    66.361298
2017-06-30    68.349937
2017-07-31    69.952187
2017-08-31    70.846024
2017-09-30    71.480873
2017-10-31    79.487411
2017-11-30    80.829330
2017-12-31    82.705330
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [322]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398286
2017-01-06    27.787130
2017-01-09    28.110775
2017-01-12    28.078176
2017-01-15    28.279673
                ...
2017-12-17    42.019321
2017-12-20    41.854093
2017-12-23          NaN
2017-12-26    40.886709
2017-12-29    40.522739
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495497
2017-01-22    28.172572
2017-02-05    29.108261
2017-02-19    31.516817
2017-03-05    32.595557
2017-03-19    33.017883
2017-04-02    33.625217
2017-04-16    33.849725
2017-04-30    33.791843
2017-05-14    35.697630
2017-05-28    36.496179
2017-06-11    36.515004
2017-06-25    34.529046
2017-07-09    34.265132
2017-07-23    35.278872
2017-08-06    36.272775
2017-08-20    37.904120
2017-09-03    38.458792
2017-09-17    38.282708
2017-10-01    36.840874
2017-10-15    37.071597
2017-10-29    37.757321
2017-11-12    41.032238
2017-11-26    41.204377
2017-12-10    40.867066
2017-12-24    41.620867
2018-01-07    40.795716
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524054
2017-05-31    35.056853
2017-07-31    35.186962
2017-09-30    37.761187
2017-11-30    39.402613
2018-01-31    41.160040
Freq: 2M, Name: Close, dtype: float64

In [270]:
three_day = msft.resample('3D').mean()
two_week = msft.resample('2W').mean()
two_month = msft.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    58.118092
2017-01-06    58.534157
2017-01-09    58.512416
2017-01-12    58.361830
2017-01-15    58.245396
                ...
2017-12-17    81.995895
2017-12-20    81.429291
2017-12-23          NaN
2017-12-26    81.524511
2017-12-29    81.457855
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    58.222108
2017-01-22    58.355100
2017-02-05    59.653787
2017-02-19    59.893699
2017-03-05    60.340521
2017-03-19    60.603958
2017-04-02    61.049094
2017-04-16    61.375527
2017-04-30    62.583169
2017-05-14    64.636412
2017-05-28    64.637443
2017-06-11    67.186480
2017-06-25    66.268912
2017-07-09    65.162205
2017-07-23    68.254758
2017-08-06    68.840980
2017-08-20    68.658559
2017-09-03    69.371683
2017-09-17    70.543868
2017-10-01    70.390261
2017-10-15    71.929983
2017-10-29    74.708112
2017-11-12    79.563198
2017-11-26    79.180912
2017-12-10    79.288562
2017-12-24    81.556893
2018-01-07    81.507847
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    58.862032
2017-03-31    60.378899
2017-05-31    63.491106
2017-07-31    67.132999
2017-09-30    69.584027
2017-11-30    76.624514
2018-01-31    80.713649
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [323]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203367
2017-01-15    0.072527
2017-01-22    0.025555
2017-01-29    0.245288
2017-02-05    0.943262
2017-02-12    0.252001
2017-02-19    0.231395
2017-02-26    0.059344
2017-03-05    0.340091
2017-03-12    0.076282
2017-03-19    0.177833
2017-03-26    0.157266
2017-04-02    0.319804
2017-04-09    0.128689
2017-04-16    0.212474
2017-04-23    0.174670
2017-04-30    0.090024
2017-05-07    0.235635
2017-05-14    0.352984
2017-05-21    0.536092
2017-05-28    0.060390
2017-06-04    0.281220
2017-06-11    0.620035
2017-06-18    0.382564
2017-06-25    0.128895
2017-07-02    0.264107
2017-07-09    0.158890
2017-07-16    0.404284
2017-07-23    0.124991
2017-07-30    0.384442
2017-08-06    0.924391
2017-08-13    0.467470
2017-08-20    0.435250
2017-08-27    0.275767
2017-09-03    0.251726
2017-09-10    0.381636
2017-09-17    0.294137
2017-09-24    0.735191
2017-10-01    0.354847
2017-10-08    0.204854
2017-10-15    0.118730
2017-10-22    0.516997
2017-10-29    0.680455
2017-11-05    0.560681
2017-11-12    0.190974
2017-11-19    0.436195
2017-11-26    0.563046
2017-12-03    0.427445
2017-12-10    0.073128
2017-12-17    0.205264
2017-12-24    0.194126
2017-12-31    0.190392
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787130
2017-01-15    28.220749
2017-01-22    28.279673
2017-01-29    28.739212
2017-02-05    30.419495
2017-02-12    31.341913
2017-02-19    32.122978
2017-02-26    32.451965
2017-03-05    33.086288
2017-03-12    33.022381
2017-03-19    33.299305
2017-03-26    33.481556
2017-04-02    34.111126
2017-04-09    34.264980
2017-04-16    33.886272
2017-04-23    33.713493
2017-04-30    34.208176
2017-05-07    35.256687
2017-05-14    37.099136
2017-05-21    37.004063
2017-05-28    36.597660
2017-06-04    36.944641
2017-06-11    36.925629
2017-06-18    34.838955
2017-06-25    34.779533
2017-07-02    34.658325
2017-07-09    34.266182
2017-07-16    35.421234
2017-07-23    35.891804
2017-07-30    36.471703
2017-08-06    37.346298
2017-08-13    38.277939
2017-08-20    38.557098
2017-08-27    38.170563
2017-09-03    39.141651
2017-09-10    38.671623
2017-09-17    38.533230
2017-09-24    37.872314
2017-10-01    36.798641
2017-10-08    37.075413
2017-10-15    37.457165
2017-10-22    38.287479
2017-10-29    38.903057
2017-11-05    41.157787
2017-11-12    42.050144
2017-11-19    41.657738
2017-11-26    41.897194
2017-12-03    41.686474
2017-12-10    40.659222
2017-12-17    41.657738
2017-12-24    42.244408
2017-12-31    40.965729
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341726
2017-01-15    28.041647
2017-01-22    28.227823
2017-01-29    28.272594
2017-02-05    28.597811
2017-02-12    30.704649
2017-02-19    31.547825
2017-02-26    32.314690
2017-03-05    32.409367
2017-03-12    32.823570
2017-03-19    32.896942
2017-03-26    33.098114
2017-04-02    33.344276
2017-04-09    33.926521
2017-04-16    33.384502
2017-04-23    33.296936
2017-04-30    33.997528
2017-05-07    34.681549
2017-05-14    36.215267
2017-05-21    35.708805
2017-05-28    36.443184
2017-06-04    36.305336
2017-06-11    35.406967
2017-06-18    33.812256
2017-06-25    34.463444
2017-07-02    34.147366
2017-07-09    33.921574
2017-07-16    34.475338
2017-07-23    35.544807
2017-07-30    35.530556
2017-08-06    35.347553
2017-08-13    37.058712
2017-08-20    37.578854
2017-08-27    37.509655
2017-09-03    38.526077
2017-09-10    37.848473
2017-09-17    37.764957
2017-09-24    36.240326
2017-10-01    35.920605
2017-10-08    36.619694
2017-10-15    37.182777
2017-10-22    37.216183
2017-10-29    37.261517
2017-11-05    39.778709
2017-11-12    41.575325
2017-11-19    40.486816
2017-11-26    40.702320
2017-12-03    40.582592
2017-12-10    40.470058
2017-12-17    41.114182
2017-12-24    41.748734
2017-12-31    40.522739
Freq: W-SUN, Name: Close, dtype: float64

In [271]:
std = msft.resample('W').std()
max = msft.resample('W').max()
min = msft.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.241648
2017-01-15    0.230376
2017-01-22    0.167730
2017-01-29    1.003978
2017-02-05    0.759351
2017-02-12    0.303810
2017-02-19    0.103211
2017-02-26    0.116638
2017-03-05    0.363516
2017-03-12    0.298675
2017-03-19    0.159806
2017-03-26    0.316103
2017-04-02    0.287972
2017-04-09    0.083561
2017-04-16    0.249517
2017-04-23    0.472036
2017-04-30    0.344536
2017-05-07    0.224033
2017-05-14    0.370705
2017-05-21    0.732868
2017-05-28    0.617632
2017-06-04    0.804952
2017-06-11    0.851832
2017-06-18    0.327101
2017-06-25    0.494137
2017-07-02    0.748333
2017-07-09    0.533761
2017-07-16    1.130459
2017-07-23    0.360899
2017-07-30    0.484606
2017-08-06    0.238205
2017-08-13    0.496514
2017-08-20    0.503761
2017-08-27    0.344467
2017-09-03    0.745473
2017-09-10    0.392918
2017-09-17    0.275638
2017-09-24    0.486361
2017-10-01    0.485945
2017-10-08    0.775651
2017-10-15    0.521702
2017-10-22    0.490037
2017-10-29    2.137327
2017-11-05    0.447522
2017-11-12    0.265848
2017-11-19    0.465096
2017-11-26    0.467454
2017-12-03    0.536433
2017-12-10    1.131430
2017-12-17    0.763663
2017-12-24    0.361447
2017-12-31    0.145333
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    58.534157
2017-01-15    58.860165
2017-01-22    58.441002
2017-01-29    61.272697
2017-02-05    60.667229
2017-02-12    59.670551
2017-02-19    60.557098
2017-02-26    60.557098
2017-03-05    60.856983
2017-03-12    60.903828
2017-03-19    60.791386
2017-03-26    60.941319
2017-04-02    61.719143
2017-04-09    61.597321
2017-04-16    61.409889
2017-04-23    62.225185
2017-04-30    64.155670
2017-05-07    65.045929
2017-05-14    64.952225
2017-05-21    65.418785
2017-05-28    65.937149
2017-06-04    67.633644
2017-06-11    68.349937
2017-06-18    66.587479
2017-06-25    67.115265
2017-07-02    66.474365
2017-07-09    65.465897
2017-07-16    68.595009
2017-07-23    69.952187
2017-07-30    69.923912
2017-08-06    68.519577
2017-08-13    68.604408
2017-08-20    69.784798
2017-08-27    69.320503
2017-09-03    70.846024
2017-09-10    70.438591
2017-09-17    71.357674
2017-09-24    71.480873
2017-10-01    70.580696
2017-10-08    72.011467
2017-10-15    73.423271
2017-10-22    74.673996
2017-10-29    79.411613
2017-11-05    79.724281
2017-11-12    80.122246
2017-11-19    79.639000
2017-11-26    79.724701
2017-12-03    80.829330
2017-12-10    80.143707
2017-12-17    82.705330
2017-12-24    82.257759
2017-12-31    81.629250
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    58.031155
2017-01-15    58.319912
2017-01-22    58.031155
2017-01-29    58.645927
2017-02-05    58.841537
2017-02-12    58.999886
2017-02-19    60.285336
2017-02-26    60.313450
2017-03-05    59.957336
2017-03-12    60.229103
2017-03-19    60.360310
2017-03-26    60.172878
2017-04-02    61.006927
2017-04-09    61.428635
2017-04-16    60.866348
2017-04-23    60.950695
2017-04-30    63.284145
2017-05-07    64.483643
2017-05-14    64.080696
2017-05-21    63.599766
2017-05-28    64.513977
2017-06-04    65.824043
2017-06-11    66.276451
2017-06-18    65.767502
2017-06-25    65.890038
2017-07-02    64.551682
2017-07-09    64.250084
2017-07-16    65.956009
2017-07-23    69.085106
2017-07-30    68.840042
2017-08-06    68.001228
2017-08-13    67.303772
2017-08-20    68.600410
2017-08-27    68.363525
2017-09-03    69.007835
2017-09-10    69.547920
2017-09-17    70.760757
2017-09-24    70.315399
2017-10-01    69.415260
2017-10-08    70.362785
2017-10-15    72.286263
2017-10-22    73.518028
2017-10-29    74.503448
2017-11-05    78.814651
2017-11-12    79.468445
2017-11-19    78.467697
2017-11-26    78.591499
2017-12-03    79.362839
2017-12-10    77.210693
2017-12-17    80.648415
2017-12-24    81.419777
2017-12-31    81.324532
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [324]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597811
2017-02-28    32.423565
2017-03-31    34.002254
2017-04-30    33.999897
2017-05-31    36.305336
2017-06-30    34.228165
2017-07-31    35.347553
2017-08-31    39.129730
2017-09-30    36.772400
2017-10-31    40.332245
2017-11-30    41.150101
2017-12-31    40.522739
Freq: M, Name: Close, dtype: float64

In [272]:
last_day = msft.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    60.220135
2017-02-28    59.957336
2017-03-31    61.719143
2017-04-30    64.155670
2017-05-31    65.824043
2017-06-30    64.966370
2017-07-31    68.519577
2017-08-31    70.846024
2017-09-30    70.580696
2017-10-31    78.814651
2017-11-30    80.153244
2017-12-31    81.457855
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [325]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [273]:
monthly_return = msft.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.033078
2017-02-28    0.012392
2017-03-31    0.014167
2017-04-30    0.044394
2017-05-31    0.011963
2017-06-30   -0.016691
2017-07-31    0.066451
2017-08-31    0.035662
2017-09-30    0.007438
2017-10-31    0.114864
2017-11-30    0.016984
2017-12-31    0.015191
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [274]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.029657729476182577
0.03403435922916004
0.1148638272214757

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [275]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28   -0.262798
2017-03-31    1.761806
2017-04-30    2.436527
2017-05-31    1.668373
2017-06-30   -0.857674
2017-07-31    3.553207
2017-08-31    2.326447
2017-09-30   -0.265327
2017-10-31    8.233955
2017-11-30    1.338593
2017-12-31    1.304611
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28   -0.004364
2017-03-31    0.029384
2017-04-30    0.039478
2017-05-31    0.026005
2017-06-30   -0.013030
2017-07-31    0.054693
2017-08-31    0.033953
2017-09-30   -0.003745
2017-10-31    0.116660
2017-11-30    0.016984
2017-12-31    0.016276
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [276]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28   -0.004364
2017-03-31    0.029384
2017-04-30    0.039478
2017-05-31    0.026005
2017-06-30   -0.013030
2017-07-31    0.054693
2017-08-31    0.033953
2017-09-30   -0.003745
2017-10-31    0.116660
2017-11-30    0.016984
2017-12-31    0.016276
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [277]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31   -0.004364
2017-02-28   -0.004364
2017-03-31    0.029384
2017-04-30    0.039478
2017-05-31    0.026005
2017-06-30   -0.013030
2017-07-31    0.054693
2017-08-31    0.033953
2017-09-30   -0.003745
2017-10-31    0.116660
2017-11-30    0.016984
2017-12-31    0.016276
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [278]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28   -0.004364
2017-03-31    0.029384
2017-04-30    0.039478
2017-05-31    0.026005
2017-06-30   -0.013030
2017-07-31    0.054693
2017-08-31    0.033953
2017-09-30   -0.003745
2017-10-31    0.116660
2017-11-30    0.016984
2017-12-31    0.016276
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [279]:
import pandas as pd

dict = {'AAPL': [143.5,  144.09, 142.73, 144.18, 143.77],
        'GOOG': [898.7,  911.71, 906.69, 918.59, 926.99],
        'IBM':  [155.58, 153.67, 152.36, 152.94, 153.49]}
dates = pd.date_range('2017-07-03', periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = dates)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [327]:
import pandas as pd

dict2 = {'TSLA': [156.5, 144.09, 168.73, 186.18, 108.77],'FB':[888.7, 981.71, 906.69, 914.59, 826.99],
        'WTC':[185.58, 134.67, 152.36, 182.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict2, index = data_index)
print(df)

              TSLA      FB     WTC
2017-07-03  156.50  888.70  185.58
2017-07-04  144.09  981.71  134.67
2017-07-05  168.73  906.69  152.36
2017-07-06  186.18  914.59  182.94
2017-07-07  108.77  826.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [328]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906773
2017-12-26    40.843609
2017-12-27    40.850788
2017-12-28    40.965729
2017-12-29    40.522739
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [280]:
df = msft_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2018-12-21    95.161606
2018-12-24    91.189667
2018-12-26    97.418808
2018-12-27    98.019432
2018-12-28    97.254128
Name: Close, dtype: float64
Date
2018-12-21    111242100
2018-12-24     43935200
2018-12-26     51634800
2018-12-27     49498500
2018-12-28     38196300
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [329]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852382  22.440245  21.750946  ...  257666000        0.0             0
2016-02-29  22.450759  22.768306  22.402084  ...  140865200        0.0             0
2016-03-31  25.431522  25.473243  25.236821  ...  103553600        0.0             0
2016-04-30  21.785531  21.954736  21.442489  ...  274126000        0.0             0
2016-05-31  23.226409  23.412967  23.044516  ...  169228800        0.0             0
2016-06-30  22.023110  22.333260  21.990462  ...  143345600        0.0             0
2016-07-31  24.296780  24.380731  24.177849  ...  110934800        0.0             0
2016-08-31  24.773061  24.986419  24.768371  ...  118649600        0.0             0
2016-09-30  26.367382  26.580742  26.212639  ...  145516400        0.0             0
2016-10-31  26.646391  26.782378  26.540882  ...  105677600        0.0             0
2016-11-30  26.300090  26.441488  25.986656  ...  144649200        0.0             0
2016-12-31  27.490191  27.619805  27.202681  ...  122345200        0.0             0

[12 rows x 7 columns]

In [281]:
msft_2017 = df['2017']
msft_month = msft_2017.resample('M').agg(lambda x: x[-1])
print(msft_month)

                 Open       High        Low  ...    Volume  Dividends  Stock Splits
Date                                         ...
2017-01-31  60.415745  60.685874  59.856858  ...  25270500        0.0             0
2017-02-28  60.051051  60.163502  59.751168  ...  23239800        0.0             0
2017-03-31  61.522347  62.028396  61.334918  ...  21040300        0.0             0
2017-04-30  64.577381  64.792916  63.434086  ...  39548800        0.0             0
2017-05-31  66.474369  66.672293  65.795769  ...  30436400        0.0             0
2017-06-30  64.824994  65.390491  64.787293  ...  24161100        0.0             0
2017-07-31  69.085081  69.217030  68.246259  ...  23600100        0.0             0
2017-08-31  70.144861  71.026055  69.926936  ...  27652800        0.0             0
2017-09-30  70.059565  70.628075  70.002709  ...  17079100        0.0             0
2017-10-31  79.932724  79.932724  78.748325  ...  27086600        0.0             0
2017-11-30  79.524744  80.486540  79.362851  ...  33054600        0.0             0
2017-12-31  81.543557  81.943519  81.419763  ...  18717400        0.0             0

[12 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [330]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245
2016-02-29  22.450759  22.768306  22.402084  22.411356
2016-03-31  25.431522  25.473243  25.236821  25.262318
2016-04-30  21.785531  21.954736  21.442489  21.727585
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023110  22.333260  21.990462  22.293617
2016-07-31  24.296780  24.380731  24.177849  24.301443
2016-08-31  24.773061  24.986419  24.768371  24.876223
2016-09-30  26.367382  26.580742  26.212639  26.505714
2016-10-31  26.646391  26.782378  26.540882  26.620600
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490191  27.619805  27.202681  27.294590

In [331]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431522  25.473243  25.236821  25.262318
2016-04-30  21.785531  21.954736  21.442489  21.727585
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023110  22.333260  21.990462  22.293617

In [282]:
msft_bar = msft_month[['Open', 'High', 'Low', 'Close']]
print(msft_bar)

                 Open       High        Low      Close
Date
2017-01-31  60.415745  60.685874  59.856858  60.220135
2017-02-28  60.051051  60.163502  59.751168  59.957336
2017-03-31  61.522347  62.028396  61.334918  61.719143
2017-04-30  64.577381  64.792916  63.434086  64.155670
2017-05-31  66.474369  66.672293  65.795769  65.824043
2017-06-30  64.824994  65.390491  64.787293  64.966370
2017-07-31  69.085081  69.217030  68.246259  68.519577
2017-08-31  70.144861  71.026055  69.926936  70.846024
2017-09-30  70.059565  70.628075  70.002709  70.580696
2017-10-31  79.932724  79.932724  78.748325  78.814651
2017-11-30  79.524744  80.486540  79.362851  80.153244
2017-12-31  81.543557  81.943519  81.419763  81.457855

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [283]:
print(msft_month.loc['2017-03':'2017-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2017-03-31  61.522347  62.028396  61.334918  61.719143
2017-04-30  64.577381  64.792916  63.434086  64.155670
2017-05-31  66.474369  66.672293  65.795769  65.824043
2017-06-30  64.824994  65.390491  64.787293  64.966370

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [332]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431522  25.473243  25.236821  25.262318
2016-08-31  24.773061  24.986419  24.768371  24.876223
2016-09-30  26.367382  26.580742  26.212639  26.505714
2016-10-31  26.646391  26.782378  26.540882  26.620600
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490191  27.619805  27.202681  27.294590

In [284]:
import numpy as np

above = msft_bar[msft_bar.Close > np.mean(msft_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2017-08-31  70.144861  71.026055  69.926936  70.846024
2017-09-30  70.059565  70.628075  70.002709  70.580696
2017-10-31  79.932724  79.932724  78.748325  78.814651
2017-11-30  79.524744  80.486540  79.362851  80.153244
2017-12-31  81.543557  81.943519  81.419763  81.457855

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [333]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245          NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773061  24.986419  24.768371  24.876223     0.023652
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504
2016-10-31  26.646391  26.782378  26.540882  26.620600     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [285]:
msft_bar['rate_return'] = msft_bar.Close.pct_change()
print(msft_bar)

                 Open       High        Low      Close  rate_return
Date
2017-01-31  60.415745  60.685874  59.856858  60.220135          NaN
2017-02-28  60.051051  60.163502  59.751168  59.957336    -0.004364
2017-03-31  61.522347  62.028396  61.334918  61.719143     0.029384
2017-04-30  64.577381  64.792916  63.434086  64.155670     0.039478
2017-05-31  66.474369  66.672293  65.795769  65.824043     0.026005
2017-06-30  64.824994  65.390491  64.787293  64.966370    -0.013030
2017-07-31  69.085081  69.217030  68.246259  68.519577     0.054693
2017-08-31  70.144861  71.026055  69.926936  70.846024     0.033953
2017-09-30  70.059565  70.628075  70.002709  70.580696    -0.003745
2017-10-31  79.932724  79.932724  78.748325  78.814651     0.116660
2017-11-30  79.524744  80.486540  79.362851  80.153244     0.016984
2017-12-31  81.543557  81.943519  81.419763  81.457855     0.016276

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [334]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [286]:
missing = msft_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2017-01-31  False  False  False  False         True
2017-02-28  False  False  False  False        False
2017-03-31  False  False  False  False        False
2017-04-30  False  False  False  False        False
2017-05-31  False  False  False  False        False
2017-06-30  False  False  False  False        False
2017-07-31  False  False  False  False        False
2017-08-31  False  False  False  False        False
2017-09-30  False  False  False  False        False
2017-10-31  False  False  False  False        False
2017-11-30  False  False  False  False        False
2017-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [287]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2017-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [335]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773061  24.986419  24.768371  24.876223     0.023652
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504
2016-10-31  26.646391  26.782378  26.540882  26.620600     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245     0.000000
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773061  24.986419  24.768371  24.876223     0.023652
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504
2016-10-31  26.646391  26.782378  26.540882  26.620600     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955

In [288]:
drop = msft_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = msft_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2017-02-28  60.051051  60.163502  59.751168  59.957336    -0.004364
2017-03-31  61.522347  62.028396  61.334918  61.719143     0.029384
2017-04-30  64.577381  64.792916  63.434086  64.155670     0.039478
2017-05-31  66.474369  66.672293  65.795769  65.824043     0.026005
2017-06-30  64.824994  65.390491  64.787293  64.966370    -0.013030
2017-07-31  69.085081  69.217030  68.246259  68.519577     0.054693
2017-08-31  70.144861  71.026055  69.926936  70.846024     0.033953
2017-09-30  70.059565  70.628075  70.002709  70.580696    -0.003745
2017-10-31  79.932724  79.932724  78.748325  78.814651     0.116660
2017-11-30  79.524744  80.486540  79.362851  80.153244     0.016984
2017-12-31  81.543557  81.943519  81.419763  81.457855     0.016276

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2017-01-31  60.415745  60.685874  59.856858  60.220135     0.000000
2017-02-28  60.051051  60.163502  59.751168  59.957336    -0.004364
2017-03-31  61.522347  62.028396  61.334918  61.719143     0.029384
2017-04-30  64.577381  64.792916  63.434086  64.155670     0.039478
2017-05-31  66.474369  66.672293  65.795769  65.824043     0.026005
2017-06-30  64.824994  65.390491  64.787293  64.966370    -0.013030
2017-07-31  69.085081  69.217030  68.246259  68.519577     0.054693
2017-08-31  70.144861  71.026055  69.926936  70.846024     0.033953
2017-09-30  70.059565  70.628075  70.002709  70.580696    -0.003745
2017-10-31  79.932724  79.932724  78.748325  78.814651     0.116660
2017-11-30  79.524744  80.486540  79.362851  80.153244     0.016984
2017-12-31  81.543557  81.943519  81.419763  81.457855     0.016276

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [289]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [336]:
s1 = pd.Series([153.5, 184.09, 164.73, 144.18, 143.77], name = 'TSLA')
s2 = pd.Series([998.7, 961.71, 906.69, 912.59, 846.99], name = 'FB')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     TSLA      FB
0  153.50  998.70
1  184.09  961.71
2  164.73  906.69
3  144.18  912.59
4  143.77  846.99

The "axis = 1" parameter will join two DataFrames by columns:

In [337]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104300
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277360
2016-10-31    3.281685
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245          NaN   3.110856
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287   3.109568
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211   3.229314
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921   3.078583
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773   3.147897
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660   3.104300
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063   3.190536
2016-08-31  24.773061  24.986419  24.768371  24.876223     0.023652   3.213912
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504   3.277360
2016-10-31  26.646391  26.782378  26.540882  26.620600     0.004334   3.281685
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601   3.259848
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955   3.306689

In [290]:
log_price = np.log(msft_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([msft_bar, log_price], axis = 1)
print(concat)

Date
2017-01-31    4.098007
2017-02-28    4.093633
2017-03-31    4.122594
2017-04-30    4.161312
2017-05-31    4.186985
2017-06-30    4.173870
2017-07-31    4.227120
2017-08-31    4.260509
2017-09-30    4.256757
2017-10-31    4.367099
2017-11-30    4.383940
2017-12-31    4.400086
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2017-01-31  60.415745  60.685874  59.856858  60.220135          NaN   4.098007
2017-02-28  60.051051  60.163502  59.751168  59.957336    -0.004364   4.093633
2017-03-31  61.522347  62.028396  61.334918  61.719143     0.029384   4.122594
2017-04-30  64.577381  64.792916  63.434086  64.155670     0.039478   4.161312
2017-05-31  66.474369  66.672293  65.795769  65.824043     0.026005   4.186985
2017-06-30  64.824994  65.390491  64.787293  64.966370    -0.013030   4.173870
2017-07-31  69.085081  69.217030  68.246259  68.519577     0.054693   4.227120
2017-08-31  70.144861  71.026055  69.926936  70.846024     0.033953   4.260509
2017-09-30  70.059565  70.628075  70.002709  70.580696    -0.003745   4.256757
2017-10-31  79.932724  79.932724  78.748325  78.814651     0.116660   4.367099
2017-11-30  79.524744  80.486540  79.362851  80.153244     0.016984   4.383940
2017-12-31  81.543557  81.943519  81.419763  81.457855     0.016276   4.400086

We can also join two DataFrames by rows. Consider these two DataFrames:

In [338]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646391  26.782378  26.540882  26.620600
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490191  27.619805  27.202681  27.294590
2017-01-31  28.550679  28.607238  28.425777  28.597811
2017-02-28  32.444866  32.530073  32.354924  32.423565
2017-03-31  34.016455  34.146633  33.848407  34.002254
2017-04-30  34.104039  34.153745  33.909959  33.999897

In [291]:
df_volume = msft_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = msft_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

              Volume  Stock Splits
Date
2017-01-31  25270500             0
2017-02-28  23239800             0
2017-03-31  21040300             0
2017-04-30  39548800             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2017-01-31  60.415745  60.685874  59.856858  60.220135
2017-02-28  60.051051  60.163502  59.751168  59.957336
2017-03-31  61.522347  62.028396  61.334918  61.719143
2017-04-30  64.577381  64.792916  63.434086  64.155670

Now we merge the DataFrames with our DataFrame 'msft_bar'

In [339]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852382  22.440245  ...          NaN           NaN
2016-02-29  22.450759  22.768306  ...          NaN           NaN
2016-03-31  25.431522  25.473243  ...          NaN           NaN
2016-04-30  21.785531  21.954736  ...          NaN           NaN
2016-05-31  23.226409  23.412967  ...          NaN           NaN
2016-06-30  22.023110  22.333260  ...          NaN           NaN
2016-07-31  24.296780  24.380731  ...          NaN           NaN
2016-08-31  24.773061  24.986419  ...          NaN           NaN
2016-09-30  26.367382  26.580742  ...          NaN           NaN
2016-10-31  26.646391  26.782378  ...  105677600.0           0.0
2016-11-30  26.300090  26.441488  ...  144649200.0           0.0
2016-12-31  27.490191  27.619805  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [292]:
concat = pd.concat([msft_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...      Volume  Stock Splits
Date                              ...
2017-01-31  60.415745  60.685874  ...  25270500.0           0.0
2017-02-28  60.051051  60.163502  ...  23239800.0           0.0
2017-03-31  61.522347  62.028396  ...  21040300.0           0.0
2017-04-30  64.577381  64.792916  ...  39548800.0           0.0
2017-05-31  66.474369  66.672293  ...         NaN           NaN
2017-06-30  64.824994  65.390491  ...         NaN           NaN
2017-07-31  69.085081  69.217030  ...         NaN           NaN
2017-08-31  70.144861  71.026055  ...         NaN           NaN
2017-09-30  70.059565  70.628075  ...         NaN           NaN
2017-10-31  79.932724  79.932724  ...         NaN           NaN
2017-11-30  79.524744  80.486540  ...         NaN           NaN
2017-12-31  81.543557  81.943519  ...         NaN           NaN

[12 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [293]:
concat = pd.concat([msft_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...    Volume  Stock Splits
Date                              ...
2017-01-31  60.415745  60.685874  ...  25270500             0
2017-02-28  60.051051  60.163502  ...  23239800             0
2017-03-31  61.522347  62.028396  ...  21040300             0
2017-04-30  64.577381  64.792916  ...  39548800             0

[4 rows x 7 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [340]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646391  26.782378  ...  105677600             0
2016-11-30  26.300090  26.441488  ...  144649200             0
2016-12-31  27.490191  27.619805  ...  122345200             0

[3 rows x 7 columns]

In [341]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245          NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773061  24.986419  24.768371  24.876223     0.023652
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504
2016-10-31  26.646391  26.782378  26.540882  26.620600     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955
2016-10-31  26.646391  26.782378  26.540882  26.620600          NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572          NaN
2016-12-31  27.490191  27.619805  27.202681  27.294590          NaN
2017-01-31  28.550679  28.607238  28.425777  28.597811          NaN
2017-02-28  32.444866  32.530073  32.354924  32.423565          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104039  34.153745  33.909959  33.999897          NaN

In [294]:
append = msft_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2017-01-31  60.415745  60.685874  59.856858  60.220135          NaN
2017-02-28  60.051051  60.163502  59.751168  59.957336    -0.004364
2017-03-31  61.522347  62.028396  61.334918  61.719143     0.029384
2017-04-30  64.577381  64.792916  63.434086  64.155670     0.039478
2017-05-31  66.474369  66.672293  65.795769  65.824043     0.026005
2017-06-30  64.824994  65.390491  64.787293  64.966370    -0.013030
2017-07-31  69.085081  69.217030  68.246259  68.519577     0.054693
2017-08-31  70.144861  71.026055  69.926936  70.846024     0.033953
2017-09-30  70.059565  70.628075  70.002709  70.580696    -0.003745
2017-10-31  79.932724  79.932724  78.748325  78.814651     0.116660
2017-11-30  79.524744  80.486540  79.362851  80.153244     0.016984
2017-12-31  81.543557  81.943519  81.419763  81.457855     0.016276
2017-01-31  60.415745  60.685874  59.856858  60.220135          NaN
2017-02-28  60.051051  60.163502  59.751168  59.957336          NaN
2017-03-31  61.522347  62.028396  61.334918  61.719143          NaN
2017-04-30  64.577381  64.792916  63.434086  64.155670          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [342]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245          NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773061  24.986419  24.768371  24.876223     0.023652
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504
2016-10-31  26.646391  26.782378  26.540882  26.620600     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955
2016-10-31  26.646391  26.782378  26.540882  26.620600          NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572          NaN
2016-12-31  27.490191  27.619805  27.202681  27.294590          NaN
2017-01-31  28.550679  28.607238  28.425777  28.597811          NaN
2017-02-28  32.444866  32.530073  32.354924  32.423565          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104039  34.153745  33.909959  33.999897          NaN

In [295]:
concat = pd.concat([msft_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2017-01-31  60.415745  60.685874  59.856858  60.220135          NaN
2017-02-28  60.051051  60.163502  59.751168  59.957336    -0.004364
2017-03-31  61.522347  62.028396  61.334918  61.719143     0.029384
2017-04-30  64.577381  64.792916  63.434086  64.155670     0.039478
2017-05-31  66.474369  66.672293  65.795769  65.824043     0.026005
2017-06-30  64.824994  65.390491  64.787293  64.966370    -0.013030
2017-07-31  69.085081  69.217030  68.246259  68.519577     0.054693
2017-08-31  70.144861  71.026055  69.926936  70.846024     0.033953
2017-09-30  70.059565  70.628075  70.002709  70.580696    -0.003745
2017-10-31  79.932724  79.932724  78.748325  78.814651     0.116660
2017-11-30  79.524744  80.486540  79.362851  80.153244     0.016984
2017-12-31  81.543557  81.943519  81.419763  81.457855     0.016276
2017-01-31  60.415745  60.685874  59.856858  60.220135          NaN
2017-02-28  60.051051  60.163502  59.751168  59.957336          NaN
2017-03-31  61.522347  62.028396  61.334918  61.719143          NaN
2017-04-30  64.577381  64.792916  63.434086  64.155670          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [343]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 1)
print(concat)

                 Open       High        Low  ...       High        Low      Close
Date                                         ...
2016-01-31  21.852382  22.440245  21.750946  ...        NaN        NaN        NaN
2016-02-29  22.450759  22.768306  22.402084  ...        NaN        NaN        NaN
2016-03-31  25.431522  25.473243  25.236821  ...        NaN        NaN        NaN
2016-04-30  21.785531  21.954736  21.442489  ...        NaN        NaN        NaN
2016-05-31  23.226409  23.412967  23.044516  ...        NaN        NaN        NaN
2016-06-30  22.023110  22.333260  21.990462  ...        NaN        NaN        NaN
2016-07-31  24.296780  24.380731  24.177849  ...        NaN        NaN        NaN
2016-08-31  24.773061  24.986419  24.768371  ...        NaN        NaN        NaN
2016-09-30  26.367382  26.580742  26.212639  ...        NaN        NaN        NaN
2016-10-31  26.646391  26.782378  26.540882  ...  26.782378  26.540882  26.620600
2016-11-30  26.300090  26.441488  25.986656  ...  26.441488  25.986656  26.045572
2016-12-31  27.490191  27.619805  27.202681  ...  27.619805  27.202681  27.294590
2017-01-31        NaN        NaN        NaN  ...  28.607238  28.425777  28.597811
2017-02-28        NaN        NaN        NaN  ...  32.530073  32.354924  32.423565
2017-03-31        NaN        NaN        NaN  ...  34.146633  33.848407  34.002254
2017-04-30        NaN        NaN        NaN  ...  34.153745  33.909959  33.999897

[16 rows x 9 columns]

In [296]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([msft_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2017-01-31  60.415745  60.685874  59.856858  60.220135          NaN        NaN
2017-02-28  60.051051  60.163502  59.751168  59.957336    -0.004364        NaN
2017-03-31  61.522347  62.028396  61.334918  61.719143     0.029384        NaN
2017-04-30  64.577381  64.792916  63.434086  64.155670     0.039478        NaN
2017-05-31  66.474369  66.672293  65.795769  65.824043     0.026005        NaN
2017-06-30  64.824994  65.390491  64.787293  64.966370    -0.013030        NaN
2017-07-31  69.085081  69.217030  68.246259  68.519577     0.054693        NaN
2017-08-31  70.144861  71.026055  69.926936  70.846024     0.033953        NaN
2017-09-30  70.059565  70.628075  70.002709  70.580696    -0.003745        NaN
2017-10-31  79.932724  79.932724  78.748325  78.814651     0.116660        NaN
2017-11-30  79.524744  80.486540  79.362851  80.153244     0.016984        NaN
2017-12-31  81.543557  81.943519  81.419763  81.457855     0.016276        NaN
2017-01-31        NaN  60.685874  59.856858  60.220135          NaN  60.415745
2017-02-28        NaN  60.163502  59.751168  59.957336          NaN  60.051051
2017-03-31        NaN  62.028396  61.334918  61.719143          NaN  61.522347
2017-04-30        NaN  64.792916  63.434086  64.155670          NaN  64.577381

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.